In [2]:
import pandas as pd
from math import log
df1=pd.read_excel('data/website reviews.xlsx')
df2=pd.read_csv('data/tweets_v7 only text.csv')

In [3]:
df1[['contents']]

                                               contents
0     üá∞üá∑ Wildly entertaining!!! This South Korean su...
1     Quite decent.  This kept me engaged and entert...
2     Despite not being particularly unprecedented, ...
3     This was an excellent series. Really well done...
4     I started watching the show not knowing much a...
...                                                 ...
2429  One of the best making and a simple storyline ...
2430  The plot is great, the acting is superb & the ...
2431  All the hype on social media made me sit and w...
2432  All the thumbs down. It's an inane, trite, hea...
2433  Most rubbish thing i have ever watched in my l...

[2434 rows x 1 columns]

In [9]:
df1

      ÌèâÏ†ê                                           contents  Unnamed: 2
0     10  üá∞üá∑ Wildly entertaining!!! This South Korean su...         NaN
1      9  Quite decent.  This kept me engaged and entert...         NaN
2      8  Despite not being particularly unprecedented, ...         NaN
3     10  This was an excellent series. Really well done...         NaN
4      9  I started watching the show not knowing much a...         NaN
...   ..                                                ...         ...
2429   9  One of the best making and a simple storyline ...         NaN
2430   9  The plot is great, the acting is superb & the ...         NaN
2431   1  All the hype on social media made me sit and w...         NaN
2432   1  All the thumbs down. It's an inane, trite, hea...         NaN
2433   1  Most rubbish thing i have ever watched in my l...         NaN

[2434 rows x 3 columns]

In [4]:
df2[['contents']]

                                                contents
0      When life hits and the same time poverty strik...
1      That marble episode of #SquidGame  ruined me. ...
2                                        #Squidgame time
3      //Blood on 1st slide\nI'm joining the squidgam...
4      The two first games, players were killed by th...
...                                                  ...
67857  @GoGoSquidGame A powerful and very efficient p...
67858  Netflix?ÔøΩs Squid Game, Which Cost $21.4 Millio...
67859  @GoGoSquidGame good project, hopefully in the ...
67860  Just finished watching #SquidGame It was good,...
67861  If you need more #SquidGame, join us on the 25...

[67862 rows x 1 columns]

In [10]:
df2

                                                contents
0      When life hits and the same time poverty strik...
1      That marble episode of #SquidGame  ruined me. ...
2                                        #Squidgame time
3      //Blood on 1st slide\nI'm joining the squidgam...
4      The two first games, players were killed by th...
...                                                  ...
67857  @GoGoSquidGame A powerful and very efficient p...
67858  Netflix?ÔøΩs Squid Game, Which Cost $21.4 Millio...
67859  @GoGoSquidGame good project, hopefully in the ...
67860  Just finished watching #SquidGame It was good,...
67861  If you need more #SquidGame, join us on the 25...

[67862 rows x 1 columns]

In [5]:
df = pd.concat([df1,df2])
print(df)

        ÌèâÏ†ê                                           contents  Unnamed: 2
0       10  üá∞üá∑ Wildly entertaining!!! This South Korean su...         NaN
1        9  Quite decent.  This kept me engaged and entert...         NaN
2        8  Despite not being particularly unprecedented, ...         NaN
3       10  This was an excellent series. Really well done...         NaN
4        9  I started watching the show not knowing much a...         NaN
...    ...                                                ...         ...
67857  NaN  @GoGoSquidGame A powerful and very efficient p...         NaN
67858  NaN  Netflix?ÔøΩs Squid Game, Which Cost $21.4 Millio...         NaN
67859  NaN  @GoGoSquidGame good project, hopefully in the ...         NaN
67860  NaN  Just finished watching #SquidGame It was good,...         NaN
67861  NaN  If you need more #SquidGame, join us on the 25...         NaN

[70296 rows x 3 columns]

In [13]:
df=df.reset_index(drop=True)

In [14]:
a = df['contents']
a

0        üá∞üá∑ Wildly entertaining!!! This South Korean su...
1        Quite decent.  This kept me engaged and entert...
2        Despite not being particularly unprecedented, ...
3        This was an excellent series. Really well done...
4        I started watching the show not knowing much a...
                               ...
70291    @GoGoSquidGame A powerful and very efficient p...
70292    Netflix?ÔøΩs Squid Game, Which Cost $21.4 Millio...
70293    @GoGoSquidGame good project, hopefully in the ...
70294    Just finished watching #SquidGame It was good,...
70295    If you need more #SquidGame, join us on the 25...
Name: contents, Length: 70296, dtype: object

In [15]:
#bowA = docA.split(" ")
#bowB = docB.split(" ")
vocab = list(set(w for doc in a for w in doc.split()))
vocab.sort()

In [16]:
#bowB
N = len(a)
def tf(t, d):
    return d.count(t)

def idf(t):
    df = 0
    for doc in a:
        df += t in doc
    return log(N/(df + 1))

def tfidf(t, d):
    return tf(t,d)* idf(t)

In [ ]:
#wordSet = set(bowA).union(set(bowB))
from tqdm import tqdm
result = []
for i in tqdm(range(N)):
    result.append([])
    d = a[i]
    for j in range(len(vocab)):
        t = vocab[j]
        result[-1].append(tf(t, d))

In [ ]:
tf_ = pd.DataFrame(result, columns = vocab)
tf_

In [58]:
wordSet

{'The', 'bed', 'cat', 'dog', 'face', 'my', 'on', 'sat'}

In [59]:
wordDictA = dict.fromkeys(wordSet, 0) 
wordDictB = dict.fromkeys(wordSet, 0)

In [60]:
wordDictA

{'The': 0, 'cat': 0, 'bed': 0, 'dog': 0, 'my': 0, 'face': 0, 'sat': 0, 'on': 0}

In [61]:
for word in bowA:
    wordDictA[word]+=1
    
for word in bowB:
    wordDictB[word]+=1

In [62]:
wordDictA

{'The': 1, 'cat': 1, 'bed': 0, 'dog': 0, 'my': 1, 'face': 1, 'sat': 1, 'on': 1}

In [63]:
import pandas as pd
pd.DataFrame([wordDictA, wordDictB])

   The  bed  cat  dog  face  my  on  sat
0    1    0    1    0     1   1   1    1
1    1    1    0    1     0   1   1    1

In [64]:
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [65]:
tfBowA = computeTF(wordDictA, bowA)
tfBowB = computeTF(wordDictB, bowB)

In [66]:
tfBowA

{'The': 0.16666666666666666,
 'cat': 0.16666666666666666,
 'bed': 0.0,
 'dog': 0.0,
 'my': 0.16666666666666666,
 'face': 0.16666666666666666,
 'sat': 0.16666666666666666,
 'on': 0.16666666666666666}

In [67]:
tfBowB

{'The': 0.16666666666666666,
 'cat': 0.0,
 'bed': 0.16666666666666666,
 'dog': 0.16666666666666666,
 'my': 0.16666666666666666,
 'face': 0.0,
 'sat': 0.16666666666666666,
 'on': 0.16666666666666666}

In [75]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [79]:
idfs = computeIDF([wordDictA, wordDictB])

In [78]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [80]:
tfidfBowA = computeTFIDF(tfBowA, idfs)
tfidfBowB = computeTFIDF(tfBowB, idfs)

In [83]:
import pandas as pd
pd.DataFrame([tfidfBowA, tfidfBowB])

   The       bed       cat       dog      face   my   on  sat
0  0.0  0.000000  0.050172  0.000000  0.050172  0.0  0.0  0.0
1  0.0  0.050172  0.000000  0.050172  0.000000  0.0  0.0  0.0